<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title> Audios </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../estilos/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <a href="index.html">Back</a>
        <section id="contenido"> 
            <h2> Ejemplo de audios </h2>
            <article>
                <header> <h3> Musica electronica </h3>  <header>
                        <figure>
                            <audio controls>
                                <source src="../musica/Tiësto & Don Diablo - Chemicals (feat. Thomas Troelsen) [Official Music Video].mp3" type="audio/mpeg">
                                Su explorador no soporta el formato de audio <code>audio </code>
                                <audio controls>
                                </audio>
                            </audio>
                        </figure>
                        </article>
                        </section>
                        <footer id="piepagina"> &copy; 2024 Tienda en Línea. Todos los derechos reservados .<address style="display:">

                                </body>
                                </html>
