<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en línea</title>
        <meta charset="UTF-8">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <a href="index.html">Back;</a>
        <a href="index.html">Home</a> 
        <a href="ejemplo3.html">Next</a>
        
        <div>
            <h1 style="text-align: center">Ejemplo2</h1>
            <p>Bienvenidos a la página de la tienda en línea</p>
        </div>
        
        <div style="text-align: center">
            <p>hqgduyqd</p>
            <p>dgiqgdig</p>
            <p>gu3ghi</p>
        </div>

        <br><br>
        <p>Última línea</p>
    </body>
</html>

